# Exclude Docker files
.docker/
.dockerignore
docker-compose.yml
Dockerfile

# Exclude build configuration files
.home/.pyenv/
**/*password*.txt

# Exclude VS Code workspace file
**/*.code-workspace

# Exclude Git & GitHub files
README.md
LICENCE
.gitattributes
.gitconfig
.gitignore
.github/
.git/