# Exclude Docker files
.docker/
.dockerignore
docker-compose.yml
Dockerfile

# Exclude VS Code workspace file
**/*.code-workspace

# Exclude Git & GitHub files
README.md
LICENCE
.gitattributes
.gitconfig
.gitignore
.github/
.git/